body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 96, 100, 1) 0%, rgba(4, 12, 24, 1) 100%);
  
  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 96, 100, 1) 0%, rgba(4, 12, 24, 1) 100%);
  
  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, rgba(0, 96, 100, 1) 0%, rgba(4, 12, 24, 1) 100%);
  
  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 96, 100, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgba(0, 96, 100, 1) 0%, rgba(4, 12, 24, 1) 100%);
  
    
}

.site-container {
  min-height: 100vh;
} 


main {
  flex: 1;
}
.btn-primary{
  background-color: darkblue;
  color: white
}
h1{
  color: #f5f5f5;
}


.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
} 

.sign-in-image img{
  width: 110%;
  height: auto;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}


.rating span{
  color: #ffc000
}

.img-large{
  max-width: 100%;
}

.img-thumbnail{
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid grey;
  color: grey;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid orange;
  color: orange;
}

.color-nav{
  background-color: #006064;
}

th {
  color: whitesmoke;
}

td{
  color: whitesmoke
}


